<div>

    <div class="curso-user-name">
        {{ form.name }}
    </div>

    <div class="curso-password">
        {{ form.pass }}
    </div>

    <div>{{ form.actions }}</div>

    {{ form_form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}

</div>